*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}
#baslik{
    width: 400px;
    height: 500px;
    border: 1px black ;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 6px 4px #858383;
    -moz-box-shadow: 0 0 6px 4px #858383;
    box-shadow: 0 0 6px 4px #858484;
}
img{
    width: 150px;
    height: 80px;
    float: left;
    margin: 5px;
    display: inline;
}
#yazı1{
    margin-top: 120px;
    position: 5px;
    float: left;
    font-weight: bold;
    font-size: large;
}
#yazı2{
margin-top: 10px;
position: 5px;
margin-left: 37px;
float: left;
font-size: xx-small;
color: #110f0f;
}
#inp1{
    margin-top: 30px;
    padding: 5px;
    width: 80%;
    
}
#inp2{
    margin-top: 10px;
    padding: 5px;
    width: 80%;
}

input::placeholder{
    float: left;
}
#a1{
    margin-top: 40px;
    float: left;
    margin-left: 39px;   
    text-decoration: none;
    color: #004182;
}
#a1:hover{
    text-decoration: underline;
}
button{
    margin-top: 30px;
    margin-left: -14px;
    width: 80%;
    height: 35px;
    border-radius: 15px;
    border: none;
    background-color: #004182;
    color: white;
}

p{
    margin-top: 30px;
    font-weight: bold;
}
p a{
    text-decoration: none;
    color:#004182;
    
}